---
import Layout from "../layouts/Layout.astro";

export const prerender = true;
---

<Layout title="Moisés Reis. Get to know me">
    <section>
        <span class="text-sm py-1 px-2 rounded-xl text-white bg-secondary-500">Let me help you in your next project</span>
        <h1 class="font-serif font-semibold text-4xl">My name is Moisés Reis. Brazilian Software Engineering student, UI/UX enthusiast and father of the four beautiful cats.</h1>
    </section>
</Layout>
