---
import Layout from "../layouts/Layout.astro";

import Feat from "../components/Feat.astro";
import Title from "../components/Title.astro";
import Image from "../components/Image.astro";
import Card from "../components/Card.astro";
import Project from "../components/Project.astro";
import { Button } from "../components/Button";

import Sparkle from "../icons/Sparkle.astro";

export const prerender = true;
---

<Layout title="Moisés Reis. Get to know me">
  <section class="flex flex-col gap-6 mb-16">
    <Feat title="Let me help you in your next project" />
    <Title
      title="My name is Moisés Reis. Brazilian Software Engineering student, UI/UX enthusiast and father of the four beautiful cats."
    />
    <Button>Talk to me</Button>
  </section>
  <section class="grid grid-cols-2 grid-flow-row auto-rows-min gap-6 mb-16">
    <div class="flex flex-col gap-6">
      <Image
        src="../../assets/img/IA0-dP_hnbl.jpg"
        alt="Salvador, Bahia"
        sub="I am from the State of Bahia and, as I was a History student is the past, I've been learning about lots of interesting stuff"
      />
      <Project
        class="opacity-70 select-none"
        title="hospital management system"
        web="Next"
        framework="React"
        ui="Tailwind"
        components="Shadcn"
        database="Supabase"
        button="View repository"
      >
        <p class="text-default-900/50 mb-4">
          I am developing a full-fledged hospital website with a management
          system capable of handling appointments, exams results, billing and
          all sorts of features. To do it, I am relying on <span
            class="text-default-900">Tailwind</span
          > to do the styling and keep a clean and consistent user interface, <span
            class="text-default-900">React and Vercel's Next</span
          > are also handy since they provide some much needed stability and reliability
        </p>
      </Project>
      <Project
        class="opacity-70 select-none"
        title="ai veterinary"
        web="Vite"
        framework="Astro"
        ui="Tailwind"
        components="Shadcn"
        database="Supabase"
        button="On the go"
      >
        <p class="text-default-900/50 mb-4">
          Since we now have this whole AI thing with dozens of diferent --- and
          wonderful --- ideas, I decided to get on to mine own with a project to
          help those who have simple questions about their pets. The ideia is to
          provide some basic info from ChatGPT in a form, nothing crazy or
          anything. I intend to start it as soon as I have some free time to do
          so
        </p>
      </Project>
    </div>
    <div class="flex flex-col gap-6">
      <Card>
        <Sparkle
          big="#f5c41a"
          bottom="#f5c41a"
          top="#f5c41a"
          width="32"
          height="32"
        />
        <p class="text-default-900/50 my-4">
          Right now, I can build apps with <span class="text-default-900"
            >WordPress</span
          > with custom theming, <span class="text-default-900"
            >React and Next, Vue, Nuxt and Astro</span
          >, I can also use vanilla CSS to handle interfaces as well as <span
            class="text-default-900">Tailwind and Bootstrap</span
          > to speed things up ------ at the moment, I persuing my carreer in <span
            class="text-default-900">Software Engineering</span
          > in college (here in Brazil) and looking out for some oportunities abroad
          to better my skills. I am also building some small side projects that will
          be shown in this portfolio and on my social media, hope you like it <span
            class="text-default-900">😺</span
          >
        </p>
        <Button>Follow me</Button>
      </Card>
      <Card>
        <p class="text-default-900/50">
          I had some international experience in the past when I worked for <span
            class="text-default-900">Yamana Gold Inc.</span
          > from 2018 to 2020. Being honest, I was an apprentice and it wasn't a
          IT job, I still consider it to be highly valuable since I was able to work
          with people from a miriad of nationalities
        </p>
      </Card>
      <Project
        title="judas as botas de"
        web="WordPress"
        framework="PHP"
        ui="Tailwind"
        components="Flowbite"
        database="MySQL"
        button="Pay a visit"
      >
        <p class="text-default-900/50 mb-4">
          During the COVID-19 pandemic I was enrolled in college studying
          History. I had a grasp of IT back then, because of it ----- and to
          keep my mind busy ----- a friend and I founded the <span
            class="text-default-900">JUDAS, As botas de</span
          >, a website to gather and publish verified content about Latin
          America's history. I was responsible for managing everyone and
          handling the UI/UX design and backend. Everything was built on top of
          <span class="text-default-900">WordPress</span> and <span
            class="text-default-900">Elementor</span
          >, but I will redo it using a custom theme made from scratch in the
          comming months
        </p>
      </Project>
      <Image
        src="../../assets/img/a2s2brg9uki61.webp"
        alt="My Cats"
        sub="I have four extremely beautiful cats with me"
      />
    </div>
  </section>
</Layout>
