---
import Layout from "../layouts/Layout.astro";

import Feat from "../components/Feat.astro";
import Title from "../components/Title.astro";
import Image from "../components/Image.astro";
import Slider from "../components/Slider.astro";
import Card from "../components/Card.astro";
import Project from "../components/Project.astro";
import Plans from "../components/Plans.astro";
import { Button } from "../components/Button";

import Sparkle from "../icons/Sparkle.astro";
import Caatinga from "../../assets/img/Gr2zdVNMD7E.jpg"
import Lili from "../../assets/img/Lili.jpg"

export const prerender = true;
---

<Layout title="Moisés Reis. Get to know me">
  <section class="flex flex-col gap-6 mb-16">
    <Feat title="Let me help you in your next project" />
    <Title
      title="My name is Moisés Reis. Brazilian Software Engineering student, UI/UX enthusiast and father of four beautiful cats."
    />
    <a class="w-fit h-fit" href="https://api.whatsapp.com/send?phone=5574999587898&text=Let's%20talk!">
      <Button>Talk to me ➡️</Button>
    </a>
  </section>
  <section class="grid grid-cols-1 md:grid-cols-2 grid-flow-row auto-rows-min gap-6 mb-6">
    <div class="flex flex-col gap-6">
      <Card>
        <p class="text-default-900/50">Get in touch with me trought my personal e-mail with the details for your project or ideia --- <a href="mailto:jacobina.moreira.reis@gmail.com"><span class="text-blue-700 underline">jacobina.moreira.reis@gmail.com</span></a> --- or you can just call me on WhatsApp anytime and I'll answer as soon as I can, my personal number is <a href="tel:+5574999587898"><span class="text-blue-700 underline">+55 (74) 9 9958-7898</span></a></p>
      </Card>
      <Image
        src={Caatinga}
        alt="Salvador, Bahia"
        sub="I am from the State of Bahia and, as I was a History student is the past, I've been learning about lots of interesting stuff"
      />
      <Project
        title="hospital management system"
        web="Next"
        framework="React"
        ui="Tailwind"
        components="Shadcn"
        database="Supabase"
        button="View repository ➡️"
        url="https://github.com/moisesmmreis/medical"
        variant="default"
      >
        <p class="text-default-900/50 relative z-10 mb-4">
          I am developing a full-fledged hospital website with a management
          system capable of handling appointments, exams results, billing and
          all sorts of features. To do it, I am relying on <span
            class="text-default-900">Tailwind</span
          > to do the styling and keep a clean and consistent user interface, <span
            class="text-default-900">React and Vercel's Next</span
          > are also handy since they provide some much needed stability and reliability
        </p>
      </Project>
      <Plans
        title="cousine app"
        web="WordPress Headless"
        framework="Astro"
        ui="Tailwind"
        components="Shadcn"
        database="Supabase"
      >
        <p class="text-default-900/50 relative z-10">
         My wife gave me the wonderfull idea of creating an online menu for some of my city restaurants... So, the owner of the business would pay to have this 'menu' and basically put the item, price and time needed to prepare something, while the client -- on his end -- would say his address and want he wants. Good idea!
        </p>
      </Plans>
      <Plans
        title="aprendizz"
        web="Nuxt"
        framework="Vue"
        ui="Tailwind"
        components="Shadcn"
        database="Supabase"
      >
        <p class="text-default-900/50 relative z-10">
          As my wife is a teacher, she gave me the idea to build something that
          would help impoverished children to learn how to read and write in
          Portuguese and English. I'm not really sure about what to do or how to
          do it, but I would put my money on some silly educative games, so I
          guess <span class="text-default-900">Three.js</span> is the way to go
        </p>
      </Plans>
    </div>
    <div class="flex flex-col gap-6">
      <Card>
        <Sparkle
          big="#f5c41a"
          bottom="#f5c41a"
          top="#f5c41a"
          width="32"
          height="32"
        />
        <p class="text-default-900/50 relative z-10 my-4">
          Right now, I can build apps with <span class="text-default-900"
            >WordPress</span
          > with custom theming, <span class="text-default-900"
            >React and Next, Vue, Nuxt and Astro</span
          >, I can also use vanilla CSS to handle interfaces as well as <span
            class="text-default-900">Tailwind and Bootstrap</span
          > to speed things up ------ at the moment, I persuing my carreer in <span
            class="text-default-900">Software Engineering</span
          > in college (here in Brazil) and looking out for some oportunities abroad
          to better my skills. I am also building some small side projects that will
          be shown in this portfolio and on my social media, hope you like it
        </p>
        <a class="w-fit h-fit" href="https://twitter.com/moisesmmreis">
        <Button>Follow me ➡️</Button>
        </a>
      </Card>
      <Card>
        <p class="text-default-900/50 relative z-10">
          I had some international experience in the past when I worked for <span
            class="text-default-900">Yamana Gold Inc.</span
          > from 2018 to 2020. Being honest, I was an apprentice and it wasn't a
          IT job, I still consider it to be highly valuable since I was able to work
          with people from a miriad of nationalities
        </p>
      </Card>
      <Project
        title="judas as botas de"
        web="WordPress"
        framework="PHP"
        ui="Tailwind"
        components="Flowbite"
        database="MySQL"
        button="Pay a visit ➡️"
        url="http://judasasbotasde.com.br/"
        variant="default"
      >
        <p class="text-default-900/50 relative z-10 mb-4">
          During the COVID-19 pandemic I was enrolled in college studying
          History. I had a grasp of IT back then, because of it ----- and to
          keep my mind busy ----- a friend and I founded the <span
            class="text-default-900">JUDAS, As botas de</span
          >, a website to gather and publish verified content about Latin
          America's history. I was responsible for managing everyone and
          handling the UI/UX design and backend. Everything was built on top of
          <span class="text-default-900">WordPress</span> and <span
            class="text-default-900">Tailwind CSS</span
          >
        </p>
      </Project>
      <Image
        src={Lili}
        alt="My Cats"
        sub="I have four extremely beautiful cats with me"
      />
      <Plans
        title="editora la vita"
        web="WordPress"
        framework="PHP"
        ui="Tailwind"
        components="Flowbite"
        database="MySQL"
      >
        <p class="text-default-900/50 relative z-10">
          So I did an odd job to a friend of mine that started a book publishing
          company called <span class="text-default-900">Editora La Vita</span>.
          I didn't have all the knowledge or time I have now, so I talked to her
          and suggested to redo her website that was, again, built on top of <span
            class="text-default-900">Elementor</span
          >. I intend to implement Google Sign-in and some modern technologies to get her going on a safe, sound and pretty website to sell her books
        </p>
      </Plans>
    </div>
  </section>
</Layout>
