---
import Layout from "../layouts/Layout.astro";

export const prerender = true;
---

<Layout title="Moisés Reis. Get to know me">
  <section class="flex flex-col gap-6 mb-16">
    <span class="text-sm py-1 px-2 rounded-xl text-white bg-secondary-500 w-fit"
      >Let me help you in your next project</span
    >
    <h1 class="font-serif font-semibold text-4xl">
      My name is Moisés Reis. Brazilian Software Engineering student, UI/UX
      enthusiast and father of the four beautiful cats.
    </h1>
    <button class="border px-2 py-1 rounded-xl w-fit">talk to me</button>
  </section>
  <section class="grid grid-cols-1 md:grid-cols-2 grid-rows-2 gap-6 mb-16">
    <div class="flex flex-col gap-2 row-span-2">
      <img
        class="object-cover rounded-2xl"
        src="../../assets/img/IA0-dP_hnbl.jpg"
        alt="descriptive text"
      >
      <span class="text-sm text-default-900/70"
        >I am from the State of Bahia and, as I was a History student is the
        past, I've been learning about lots of interesting stuff</span
      >
    </div>
    <div class="border rounded-2xl p-4">
      <p class="text-default-900/50 mb-4">
        Right now, I can build apps with <span class="text-default-900"
          >WordPress</span
        > with custom theming, <span class="text-default-900"
          >React and Next, Vue, Nuxt and Astro</span
        >, I can also use vanilla CSS to handle interfaces as well as <span
          class="text-default-900">Tailwind and Bootstrap</span
        > to speed things up ------ at the moment, I persuing my carreer in <span
          class="text-default-900">Software Engineering</span
        > in college (here in Brazil) and looking out for some oportunities abroad
        to better my skills. I am also building some small side projects that will
        be shown in this portfolio and on my social media, hope you like it <span
          class="text-default-900">😺</span>
      </p>
      <button class="border px-2 py-1 rounded-xl w-fit">follow me</button>
    </div>
  </section>
</Layout>
