---
export interface Props {
  src: string;
  alt: string;
  sub: string;
}

const { src, alt, sub } = Astro.props as Props;
---

<div class="relative flex flex-col gap-2 max-h-fit">
  <span class="text-sm text-default-900/70">{sub}</span>
  <img class="object-cover rounded-2xl" src={src} alt={alt} />  
</div>
