<footer class="flex flex-row justify-start content-center items-center py-6">
    <span class="text-default-900/50">Made by <b class="text-default-900">Moisés Reis</b> with a whole lotta of love ❤️</span>
</footer>
