<header class="grid grid-cols-2">
    <div class="py-6 flex flex-row justify-start content-center">
        <span class="select-none text-lg font-black">mmr.</span>
    </div>
    <nav class="py-6 flex flex-row justify-end content-center gap-6">
        <span class="lowercase opacity-60 hover:opacity-100 transition-opacity cursor-pointer">Linkedin</span>
        <span class="lowercase opacity-60 hover:opacity-100 transition-opacity cursor-pointer">Github</span>
        <span class="lowercase opacity-60 hover:opacity-100 transition-opacity cursor-pointer">Twitter</span>
        <span class="lowercase opacity-60 hover:opacity-100 transition-opacity cursor-pointer">Hire me</span>
    </nav>
</header>