---
import Logo from "../components/Logo.astro";
import { Button } from "../components/Button";
---

<header class="grid grid-cols-2 mb-6">
  <div class="py-6 flex flex-row justify-start content-center items-center">
    <Logo title="mmr." />
  </div>
  <nav class="py-6 flex flex-row justify-end content-center items-center gap-6">
    <Button variant="link">Linkedin</Button>
    <Button variant="link">Github</Button>
    <Button variant="link">Twitter</Button>
    <Button variant="default">Hire me</Button>
  </nav>
</header>
