---
import Logo from "../components/Logo.astro";
import { Button } from "../components/Button";
---

<header class="grid grid-cols-2 mb-6">
  <div class="py-6 flex flex-row justify-start content-center items-center">
    <Logo title="mmr." />
  </div>
  <nav class="py-6 flex flex-row justify-end content-center items-center gap-6">
    <a class="w-fit h-fit" href="https://www.linkedin.com/in/moisesmmreis/">
      <Button variant="link">Linkedin</Button>
    </a>
    <a class="w-fit h-fit" href="https://github.com/moisesmmreis">
      <Button variant="link">Github</Button>
    </a>
    <a class="w-fit h-fit" href="https://twitter.com/moisesmmreis">
      <Button variant="link">Twitter</Button>
    </a>
  </nav>
</header>
